
<app-menu-title> </app-menu-title>

<div class="container__articles">
    <div class="articles__main">

        <app-big-card 
        id="1"
        picCover="https://conteudo.imguol.com.br/c/entretenimento/87/2023/05/05/saude-mental-tecnologia-computador-1683303063686_v2_1920x1280.jpg" 
        cardTitle="EQUILIBRIO" 
        cardDescription="
        Redução do Estresse e da Ansiedade: O exercício físico libera endorfinas, neurotransmissores responsáveis pela sensação de bem-estar. Quando nos exercitamos, o corpo também libera serotonina e dopamina, que ajudam a reduzir a ansiedade e melhoram o humor. Além disso, o exercício proporciona uma pausa nas preocupações mentais, permitindo que a mente se acalme e relaxe.">
        </app-big-card>

     </div>

        <div class="articles__others">

            <app-small-card 
            id="2"
            cardTitle=" Migrar de carreira para a área de tecnologia pode ser um desafio emocionante, mas também gratificante. "
            picCover="https://tm.ibxk.com.br/2022/07/29/29110751726107.jpg">
            </app-small-card>


            <app-small-card 
            id="3"
            cardTitle="Chegou com a capacidade de dar voz e traduzir anseios e sentimentos de gerações inteiras. "
            picCover="https://i.scdn.co/image/ab67616d0000b2735472481c1e1fe75b6c296145">
            </app-small-card>


            <app-small-card
            id="4"
            cardTitle="Para quem vai sua torcida?"
            picCover="https://cdn.folhape.com.br/upload/dn_arquivo/2023/12/cblol.jpg">
            </app-small-card>


        </div>

</div>